@import "../../../typography/_colors.css";
@import "../../../typography/_fonts.css";

.input,
.textarea {
  width: 100%;
  background-color: var(--input-bg);
  outline: none;
  border: var(--input-stroke-border);
  border-radius: 24px;
  padding: 14px 20px;
  color: #1d1e25;
  font-family: var(--input-text-ff);
  font-weight: var(--input-text-fw);
  line-height: var(--input-text-lh);
  font-style: var(--input-text-fs);
}

.textarea {
  min-height: 205px;
}

.label {
  display: block;
  font-family: var(--menu-item-ff);
  font-style: var(--menu-item-fs-mob);
  font-weight: var(--menu-item-fw);
  line-height: var(--menu-item-lh);
  padding-left: 21px;
  margin-bottom: 4px;
}

.input::placeholder,
.textarea::placeholder {
  color: var(--input-placeholder-text-color);
}

.areaWrapper {
  display: flex;
  flex-direction: column;
  max-width: 350px;
  width: 100%;
  align-self: center;
}

@media (min-width: 768px) {
  .inputWrapper {
    flex: 0 1 calc(50% - 8px);
  }

  .areaWrapper {
    display: flex;
    flex-direction: column;
    max-width: initial;
    width: 100%;
  }
}

@media (min-width: 1440px) {
  .label {
    font-size: var(--menu-item-fs-web);
  }
}
