@import url(https://fonts.googleapis.com/css?family=DM+Sans:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

.input,
.textarea {
  width: 100%;
  background: #ffffff;
  outline: none;
  border: none;
  border-radius: 24px;
  padding: 14px 20px;
  line-height: 20px;
  color: #1d1e25;
  font-family: "DM Sans";
}

.textarea {
  min-height: 205px;
}

.label {
  display: block;
  font-family: "DM Sans";
  font-weight: 500;
  font-size: 16px;
  padding-left: 21px;
  margin-bottom: 4px;
}

.input::placeholder,
.textarea::placeholder {
  color: #7e8492;
}

.areaWrapper {
  display: flex;
  flex-direction: column;
  max-width: 350px;
  width: 100%;
  align-self: center;
}

@media (min-width: 1440px) {
  .inputWrapper {
    width: 367px;
  }
  .input::placeholder,
  .textarea::placeholder,
  .input,
  .textarea,
  .label {
    font-size: 18px;
  }

  .areaWrapper {
    display: flex;
    flex-direction: column;
    max-width: initial;
    width: 100%;
  }
}
