.heroWrapper {
  width: 100%;
  padding: 40px 16px 0;
  height: 90vh;
}

.textWrapper {
  max-width: 1140px;
  margin: 0 auto;
  margin-bottom: 72px;
  position: relative;
}

.title {
  font-family: var(--h1-ff);
  color: var(--header-text-color-on-dark);
  font-size: var(--h1-fs-mob);
  font-weight: var(--h1-fw);
  line-height: var(--h1-lh);
  margin-bottom: 24px;
}

.description {
  font-family: var(--body-text-ff);
  font-size: var(--body-text-fs-mob);
  line-height: var(--body-text-lh);
  color: var(--body-text-color-on-dark);
  max-width: 354px;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .heroWrapper {
    width: 100%;
    padding-top: 100px;
  }

  .title {
    font-size: var(--h1-fs-tab);
  }

  .description {
    font-size: var(--body-text-fs-tab);
  }
}

@media screen and (min-width: 1440px) {
  .heroWrapper {
    width: 100%;
    padding-top: 100px;
  }

  .textWrapper {
    max-width: 1140px;
    margin: 0 auto;
    margin-bottom: 72px;
    position: relative;
  }

  .title {
    font-size: var(--h1-fs-web);
  }

  .description {
    font-size: var(--body-text-fs-web);
    max-width: 452px;
  }
}
