@import "../../../typography/_colors.css";
@import "../../../typography/_fonts.css";

.error {
  padding-left: 21px;
  font-family: var(--help-text-ff);
  font-weight: var(--help-text-fw);
  line-height: var(--help-text-lh);
  font-style: var(--help-text-fs);
  color: var(--error-text-color);
  margin-top: 3px;
}
