.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 48px;
}

.rightSide {
  display: flex;
  gap: 56px;
}

.inputContainer {
  position: relative;
  display: flex;
  height: 48px;
}

.input {
  width: 413px;
  height: 100%;
  padding: 0 50px 0 10px;
}

.image {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}
