.page {
  width: 100%;
}

.page__content {
  background-color: #fbfafa;
  display: flex;
  flex-direction: column;
  gap: 36px;
  padding: 48px 80px 0 20px;
}

.inputs {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.buttons {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}