@import "../../typography/_colors.css";
@import "../../typography/_fonts.css";

.scroller {
  display: flex;
  flex-wrap: nowrap;
  white-space: nowrap;
  overflow: hidden;
  background: var(--moving-banner-bg);
  padding: 12px 0;
}
.word {
  margin-right: 60px;
  font-family: "Inter", sans-serif;
  font-size: 28px;
  line-height: 120%;
  color: #f5f5f5;
}
