@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,500;9..40,600;9..40,700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700&display=swap");

.card {
  display: flex;
  flex-direction: column;
  padding-bottom: 16px;
  position: relative;
  width: 288px;
  background-color: inherit;
}

.card__image {
  height: 196px;
}

.card__image img {
  display: inline-block;
  width: 288px;
  height: 196px;
  object-fit: cover;
  clip-path: url(#clip-path);
}

.date {
  display: flex;
  box-sizing: border-box;
  width: 221px;
  justify-content: center;
  align-items: center;
  position: absolute;
  gap: 8px;
  top: -4px;
  left: 65px;
  padding: 8px 16px;
  border-radius: 24px;
  background: #ffbf69;
  color: #131313;
  font-feature-settings:
    "clig" off,
    "liga" off;
  font-family:
    DM Sans,
    sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
}

.date img {
  width: 24px;
  height: 24px;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: -16px;
  padding: 32px 8px 16px 8px;
  border-radius: 0 0 24px 24px;
  background: #fff;
}

.data {
  display: flex;
  flex-direction: column;
  gap: 16px;
  color: #7e8492;
}

.data img {
  width: 24px;
  height: 24px;
}

.data,
.data__age,
.data__description {
  font-family:
    DM Sans,
    sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 21px;
  font-style: normal;
}

.data h3 {
  font-family: DM Sans;
  color: #1d1e25;
  height: 48px;
  font-feature-settings:
    "clig" off,
    "liga" off;
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
}

.data__age {
  display: flex;
  gap: 8px;
  align-items: center;
  font-feature-settings:
    "clig" off,
    "liga" off;
  color: #747474;
}

.data__description {
  color: #4d4d4d;
}

@media screen and (min-width: 767px) {
  .card {
    width: 352px;
  }

  .card__image {
    height: 255px;
  }

  .card__image img {
    width: 352px;
    height: 255px;
  }

  .date {
    left: 131px;
  }

  .info {
    padding: 32px 16px 24px 16px;
  }

  .data h3 {
    height: 76px;
    font-size: 24px;
    line-height: 38px;
    font-weight: 700;
  }

  .data__description {
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
  }

  .join__link {
    width: 162px;
  }
}

@media screen and (min-width: 1440px) {
  .card {
    width: 367px;
  }

  .card__image {
    height: 288px;
  }

  .card__image img {
    width: 367px;
    height: 288px;
  }

  .date {
    left: 126px;
    width: 241px;
  }

  .data h3 {
    height: 76px;
    font-feature-settings:
      "clig" off,
      "liga" off;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 38px;
  }

  .info {
    margin-top: -24px;
    padding: 48px 16px 24px 16px;
  }

  .join__link {
    width: 173px;
  }
}
