.tooltip {
  display: flex;
  align-items: center;
  gap: 8px;
}

.hint {
  visibility: hidden;
  opacity: 0;
  padding: 10px 16px;
  width: fit-content;
  background-color: #eaeaea;
  border-radius: 4px;
  border: 2px solid #7e8492;

  transition:
    opacity 0.3s ease,
    visibility 0.3s ease;
}

.image:hover + .hint {
  visibility: visible;
  opacity: 1;
}
