* {
  margin: 0;
  padding: 0;
}

.projects {
  padding: 0 16px 60px 16px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
  background: #f9f9ff;
  margin-top: 100px;
}

.projects__title {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.projects__title h2 {
  color: #1d1e25;
  font-feature-settings:
    "clig" off,
    "liga" off;
  font-family: Bahnschrift;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
}

.projects__title p {
  color: #7e8492;
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
}

.swiperContainer {
  overflow-y: visible !important;
  width: 100% !important;
}

.myArrow {
  color: #52ed7e !important;
  top: 122px !important;
}

.myArrow:after {
  font-size: 22px !important;
}

@media screen and (min-width: 768px) {
  .projects {
    padding: 40px 24px;
    gap: 40px;
  }

  .projects__title {
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    width: 720px;
  }

  .projects__title h2 {
    box-sizing: border-box;
    flex-shrink: 0;
    width: 352px;
    font-size: 40px;
  }

  .projects__title p {
    font-size: 18px;
    line-height: 27px;
  }
}

@media screen and (min-width: 1440px) {
  .projects {
    padding: 60px 150px;
  }

  .projects__title {
    width: 1140px;
  }
  .projects__title h2 {
    font-size: 48px;
    width: 563px;
    font-weight: 600;
    line-height: 120%;
  }

  .projects__title p {
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
  }
}
