@import "../../../typography/_fonts.css";
@import "../../../typography/_colors.css";

.subHeader {
  width: 100%;
  background-color: #E3F9F7;
  height: 56px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 105px 8px 16px;
  color: #313131;
  font-family: var(--body-text-ff);
  font-size: var(--body-text-fs);
  font-weight: var(--body-text-fw);
  line-height: 100%;
}

.subHeader__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 274px;
}

.subHeader__button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}