@import "../../../typography/_colors.css";
@import "../../../typography/_fonts.css";

.card {
  background-color: var(--adventure-internal-bg);
  border: var(--adventure-border);
  aspect-ratio: 68/73;
  border-radius: 24px;
  width: 100%;
  box-sizing: border-box;
  flex-basis: calc(95% / 2);
  display: flex;
}

.cardContent {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 0 8px;
  gap: 10.89%;
  flex-grow: 1;
}

.cardImage {
  aspect-ratio: 1/1;
  height: 24.86%;
}

.cardName {
  text-align: center;
  min-height: 2.5em;
  color: var(--adventure-text-color);
  font-family: var(--h4-ff);
  font-size: 18px;
  font-style: normal;
  font-weight: var(--h4-fw);
  line-height: var(--h4-lh);
}

@media (min-width: 768px) {
  .card {
    aspect-ratio: 28/23;
    flex-basis: 23.62%;
  }
}

@media (min-width: 1280px) {
  .card {
    aspect-ratio: 15/16;
    flex-basis: 23.85%;
  }

  .cardName {
    font-family: var(--h4-ff);
    font-size: var(--h4-fs);
    font-style: normal;
    font-weight: var(--h4-fw);
    line-height: var(--h4-lh);
  }
}
