@import "../../typography/_colors.css";

.content {
  padding: 36px 16px;
  border-radius: 24px;
}

.contactUs {
  background-color: var(--contact-us-bg);
}

.customClasses {
  margin-bottom: 18px;
}

@media (min-width: 768px) {
  .content {
    padding: 40px 88px;
  }
  .customClasses {
    max-width: 524px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 28px;
  }
}
