.partners {
  max-width: 1440px;
  margin: 0 auto;
  padding: 60px 0;
  display: flex;
  flex-direction: column;
  gap: 48px;
  align-items: center;
  user-select: none;
}

.carousel {
  width: 100%;
  padding: 0 16px;
  display: flex;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.partners-title h2 {
  color: var(--header-text-color);
  font-family: var(--h2-ff);
  font-size: var(--h2-fs-mob);
  font-style: normal;
  font-weight: var(--h2-fw);
  line-height: var(--h2-lh);
}

.link-wrapper {
  display: flex;
  align-items: center;
}

.image {
  width: 214px;
  height: 69px;
  object-fit: fill;
  aspect-ratio: 214 / 69;
}

.swiperContainer {
  overflow-y: visible !important;
  width: 100% !important;
  text-rendering: auto;
}

.myArrow {
  color: var(--arrow-color) !important;
  top: 50% !important;
  z-index: 10;
  width: 44px !important;
  height: 44px !important;
  background-color: rgba(234, 234, 234, 0.5);
  border-radius: 12px;
}

:global(.swiper-slide) {
  transition: transform 0.4s ease-in-out;
}

.swiper-slide-active {
  transform: scale(1.59);
}

.right {
  right: 0 !important;
}

.left {
  left: 0 !important;
}

.myArrow:after {
  font-size: 23px !important;
  font-weight: 600 !important;
}

@media screen and (min-width: 768px) {
  .partners {
    padding: 80px 24px;
    gap: 40px;
  }

  .content {
    justify-content: space-between;
    gap: 40px;
    width: 100%;
  }

  .carousel {
    width: 100%;
    padding: 0;
  }

  .partners-title h2 {
    box-sizing: border-box;
    flex-shrink: 0;
    font-size: var(--h2-fs-tab);
  }

  .swiperContainer {
    overflow-y: visible !important;
    text-rendering: auto;
    padding: 0 20px 0 80px;
  }

  .swiperContainer :global(.swiper-slide-active) {
    padding-left: 20px;
    transform: scale(1.59);
  }

  .link-wrapper {
    width: 135px;
  }

  .right {
    right: 0 !important;
  }

  .left {
    left: 0 !important;
  }
}

@media screen and (min-width: 900px) {
  .swiperContainer {
    overflow-y: visible !important;
    text-rendering: auto;
    padding: 0 20px 0 100px;
  }

  .swiperContainer :global(.swiper-slide-active) {
    padding-left: 20px;
    transform: scale(1.59);
  }
}

@media screen and (min-width: 1000px) {
  .swiperContainer {
    overflow-y: visible !important;
    text-rendering: auto;
    padding: 0 0 0 20px;
  }

  .swiperContainer :global(.swiper-slide-active) {
    padding-left: 10px;
    transform: scale(1.59);
  }
}

@media screen and (min-width: 1440px) {
  .partners {
    padding: 100px 0 60px;
  }

  .content,
  .carousel {
    width: 100%;
    max-width: 1140px;
    padding: 0;
  }

  .partners-title h2 {
    font-size: var(--h2-fs-web);
    width: 563px;
  }

  .myArrow {
    color: var(--arrow-color) !important;
    top: 50% !important;
    z-index: 10;
    width: 44px !important;
    height: 44px !important;
    background-color: rgba(234, 234, 234, 0.5);
    border-radius: 12px;
  }

  .myArrow:after {
    font-size: 23px !important;
    font-weight: 600 !important;
  }
}
