.title {
  font-size: 32px;
  color: #1d1e25;
  font-weight: 600;
  line-height: 38px;
  font-family: Bahnschrift;
  margin-bottom: 48px;
}

.swiperContainer {
  max-width: 994px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  margin: 0 auto;
  max-width: 1140px;
  text-rendering: auto;
  position: relative;
  padding-top: 100px;
}

/* .slide {
  max-width: 130px;
} */
/* 
@media screen and (min-width: 768px) {
  .swiperContainer {
    padding: 0 44px;
  }
}

@media screen and (min-width: 1440px) {
  .title {
    font-size: 48px;
    line-height: 38px;
    margin-bottom: 40px;
  }
  .swiperContainer {
    padding: 0 44px;
  }
} */

.myArrow {
  color: var(--arrow-color) !important;
  top: 200px !important;
  z-index: 10;
  width: 44px !important;
  height: 44px !important;
  background-color: #eaeaea;
  border-radius: 12px;
}

.myArrow:after {
  font-size: 22px !important;
}
