.participate {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 30px 16px 60px 16px;
}

.participate__title {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.participate__title h2 {
  color: #131313;
  font-family: var(--h2-ff);
  font-size: var(--h2-fs-mob);
  font-style: normal;
  font-weight: var(--h2-fw);
  line-height: var(--h2-lh);
}

.participate__title p {
  color: #4d4d4d;
  font-family: var(--body-text-ff);
  font-size: var(--body-text-fs-mob);
  font-style: normal;
  font-weight: var(--body-text-fw);
  line-height: var(--body-text-lh);
}

@media screen and (min-width: 768px) {
  .participate {
    gap: 12px;
    padding: 40px 24px 80px 24px;
    align-items: center;
  }

  .participate__title {
    flex-direction: row;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    width: 720px;
  }

  .participate__title h2,
  p {
    display: block;
  }

  .participate__title h2 {
    width: 352px;
    box-sizing: border-box;
    font-size: var(--h2-fs-tab);
  }

  .participate__title p {
    box-sizing: border-box;
    font-size: var(--body-text-fs-tab);
  }

  .participate__steps {
    padding: 24px 38px 24px 30px;
  }
}

@media screen and (min-width: 1440px) {
  .participate {
    gap: 40px;
    padding: 100px 150px;
    align-items: center;
  }

  .participate__title {
    width: 1140px;
  }

  .participate__title h2 {
    width: 560px;
    font-size: var(--h2-fs-web);
  }
  .participate__steps {
    padding: 20px 52px 27px 42px;
  }
}
