.container {
  width: 1062px;
  height: 378px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: 1px dashed #7e8492;
  background: #fff;
}

.container p {
  width: 232px;
  display: block;
  color: #4d4d4d;
  text-align: center;
  font-family: var(--bt-text-large-ff);
  font-size: var(--bt-text-large-fs);
  font-style: normal;
  font-weight: var(--bt-text-large-fw);
  line-height: var(--bt-text-large-lh);
}
