.content {
  display: flex;
  gap: 20px;
  padding: 35px 80px 35px 20px;
}

.leftBlock {
  flex: 1 1 75%;
  display: flex;
  flex-direction: column;
  gap: 36px;
}

.rightBlock {
  flex: 1 1 25%;
  display: flex;
  flex-direction: column;
  gap: 36px;
}

.tooltipContainer {
  display: flex;
  gap: 16px;
}

.buttonWrapper {
  display: flex;
  gap: 20px;
}
