.btn {
  display: flex;
  height: 48px;
  padding: 0 32px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex-shrink: 0;
  border-radius: 4px;
  font-family: "Source Sans 3", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  cursor: pointer;
  margin-left: 20px;
}

.primary {
  background: #121212;
  color: #fcfcfc;
}

.primary:hover {
  background: #4d4d4d;
  box-shadow:
    0 4px 6px -2px rgba(16, 24, 40, 0.03),
    0 12px 16px -4px rgba(16, 24, 40, 0.08);
}

.primary:active {
  background: #4d4d4d;
  box-shadow: none;
}

.primary.disabled {
  background: #7e8492;
  pointer-events: none;
}

.secondary {
  border: 1px solid #131313;
  background: #fff;
}

.secondary:active {
  background: #131313;
  color: #fcfcfc;
}

.secondary span {
  width: 24px;
  height: 24px;
}

.secondary:active svg path {
  stroke: #fcfcfc;
}

.secondary.disabled {
  border: 1px solid #7e8492;
  background: #fcfcfc;
  color: #7e8492;
  pointer-events: none;
}

.secondary.disabled svg path {
  stroke: #7e8492;
}

.tertiary {
  display: inline-flex;
  padding: 14px 18px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  color: #1d7d74;
  background: inherit;
}

.tertiary span {
  width: 18px;
  height: 18px;
}

.tertiary:hover {
  background: #e3f9f7;
}

.tertiary.disabled {
  color: #747474;
  pointer-events: none;
}

.tertiary.disabled svg path {
  stroke: #747474;
}
