.container {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  background: #eaeaea;
  padding-top: 50px;
}
.block {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 33px;
  width: 460px;
}
.wrapper {
  width: 460px;
  padding: 24px;
  background: #fefefe;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 8px;
  position: relative;
  gap: 32px;
}

.wrapper h1 {
  color: #3d4756;
  text-align: center;
  font-family: var(--admin-header-ff);
  font-size: var(--admin-header-fs);
  font-style: normal;
  font-weight: var(--admin-header-fw);
  line-height: var(--admin-header-lh);
}

.text {
  color: #3d4756;
  text-align: center;
  font-family: var(--h5-ff);
  font-size: var(--h5-fs);
  font-style: normal;
  font-weight: var(--h5-fw);
  line-height: var(--h5-lh);
}

.login__form {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 100%;
}

.login__form-input {
  height: 92px;
}

.forgot {
  color: #131313;
  font-family: var(--body-text-ff);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 135%;
  text-decoration-line: underline;
}

.submit {
  display: flex;
  justify-content: center;
  align-items: center;
}

.submit__forgot {
  display: flex;
  justify-content: space-between;
}

.submit__forgot button {
  width: 182px;
}

.submit button {
  width: 124px;
  cursor: pointer;
}

.message {
  position: relative;
  height: 202px;
  min-width: 460px;
  left: 0;
  display: flex;
  padding: 0 75px;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background: #fff;
  color: #151515;
  text-align: center;
}

.message p {
  font-family: var(--body-text-ff);
  font-size: var(--body-text-fs-web);
  font-weight: var(--body-text-fw);
  line-height: var(--body-text-lh);
}

.close {
  display: flex;
  width: 40px;
  height: 40px;
  padding: 8px;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 8px;
  top: 8px;
  border-radius: 4px;
  background: #fff;
  cursor: pointer;
}

.error {
  position: absolute;
  top: -130px;
  left: 0;
}
@media screen and (min-width: 1440px) {
  .container {
    align-items: center;
  }
}
