.link {
  background: var(--bt-default-bg);
  position: relative;
  border-radius: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: inherit;
  transition: all 0.6s ease-in-out;
  text-decoration: none;
}

.link div {
  position: relative;
  color: var(--bt-primary-text-color);
  font-family: var(--bt-text-large-ff);
  font-weight: var(--bt-text-large-fw);
  line-height: var(--bt-text-large-lh);
}

.link:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--bt-hover-bg);
  opacity: 0;
  border-radius: inherit;
  transition: all 0.8s ease-in-out;
}

.link:hover:before {
  opacity: 1;
}

.large div {
  height: 56px;
  padding: 18px 24px;
  flex-shrink: 0;
  font-size: var(--bt-text-large-fs);
  transition: transform 0.2s ease;
}

.disabled {
  background: var(--bt-disabled-bg);
  border: inherit;
  pointer-events: none;
}

.small div {
  height: 48px;
  padding: 14px 18px;
  flex-shrink: 0;
  font-size: var(--bt-text-small-fs);
}

.tertiary {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tertiary div {
  display: flex;
  gap: 8px;
  padding: 14px 18px;
  border-radius: 24px;
  background-color: inherit;
  color: #1d7d74;
  font-family: var(--bt-text-small-ff);
  font-size: var(--bt-text-small-fs);
  font-style: normal;
  font-weight: var(--bt-text-small-fw);
  line-height: var(--bt-text-small-lh);
}

.tertiary:hover div {
  background: var(--bt-tertiary-hover-bg);
}

.tertiary-disabled {
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tertiary-disabled div {
  display: flex;
  gap: 8px;
  padding: 14px 18px;
  font-family: var(--bt-text-small-ff);
  font-size: var(--bt-text-large-fs);
  font-style: normal;
  font-weight: var(--bt-text-small-fw);
  line-height: var(--bt-text-small-lh);
  border-radius: 24px;
  background: inherit;
  color: #747474;
  pointer-events: none;
}
