.card {
    background-color: #fff;
    border: 1px solid #D4D2E3;
    aspect-ratio: 68/73;
    border-radius: 5%;
    width: 100%;
    box-sizing: border-box;
    flex-basis: calc(95%/2);
    display: flex;
    
}

.cardContent {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 0 8px;
    gap: 10.89%;
    flex-grow: 1;
}

.cardImage {
    aspect-ratio: 1/1;
    height: 24.86%;
}

.cardName {
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    min-height: 2.5em;
    line-height: 133.33%;
}