.sectionWrapper {
  text-rendering: auto;
  position: relative;
  padding-top: 50px;
}
.sectionWrapperSmallScreen {
  padding: 60px 0px 54px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.imgWrapper {
  width: 320px;
  height: 280px;
}

.imageSmall {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* button styles */
.buttonWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}
.follow {
  width: 288px;
}

.title {
  font-size: 32px;
  color: #1d1e25;
  font-weight: 500;
  line-height: 38px;
  font-family: Oswald;
  margin-bottom: 54px;
}

/* slider styles */
.sliderTop {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  margin-bottom: 48px;
}

/* .slide > img {
  width: 322px;
  height: 360px;
} */
/* arrows */
.myArrow {
  color: var(--arrow-color) !important;
  z-index: 10;
  width: 44px !important;
  height: 44px !important;
  background-color: #eaeaea;
  border-radius: 12px;
}

.right {
  right: 0 !important;
}

.left {
  left: 0 !important;
}
.myArrow:after {
  font-size: 22px !important;
}

.arrowButtons {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 20px;
}

@media screen and (min-width: 768px) {
  .sectionWrapper {
    padding: 0px 26px 40px 26px;
    text-rendering: auto;
    position: relative;
  }

  .imgWrapper {
    width: 322px;
    height: 360px;
  }

  .title {
    font-size: 40px;
    color: #1d1e25;
    font-weight: 500;
    line-height: 48px;
    font-family: Oswald;
    margin-bottom: 0px;
  }
  .buttonWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
  }
  .follow {
    width: 173px;
  }
}

@media screen and (min-width: 1440px) {
  .sectionWrapper {
    padding: 50px 150px 60px 150px;
    text-rendering: auto;
    position: relative;
  }
  .title {
    font-size: 48px;
    color: #1d1e25;
    font-weight: 500;
    line-height: 57px;
    font-family: Oswald;
    margin-bottom: 0px;
  }
  .follow {
    width: 173px;
  }
}
